.Portfolio {
    background-color: #282c34;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
}

.info{
    display: flex;
    height: 45vh;
    width: 100%;
}

.infoL{
    width: 50%;
    
}

.divInfoL{
    display: flex;
    align-items: center;
    height: 19%;
}

.icon{
    width: 2.4em;
    margin-left: 4em;
    cursor: pointer;
    &:hover{
    -moz-transform: rotate(-20deg);
     -o-transform: rotate(-20deg);
     -webkit-transform: rotate(-20deg);
     transform: rotate(-20deg);
    }
}

.a{
    text-decoration: none;
}

.infoIcon{
    margin: 0;
    margin-left: 0.5em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    
    &:hover{
        color:#61DAFB;
        text-decoration: underline;
    }
    
}

.infoR{
    width: 50%;
}

.divInfoR{
    display: flex;
    align-items: center;
    height: 19%;
}

.foto {
    width: 10em;
    border-radius: 10em;
    margin-top: auto;
    filter: grayscale(50%);

}

.nombre {
    color: #61DAFB;
}

.presentacion{
    color: white;
    width: 60%;
    text-align: justify;
    margin-top: 0;
    margin-bottom: auto;
}

